@tailwind base;
@tailwind components;
@tailwind utilities;

*{
font-family: "Rubik";
}

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.floating-btn {
  animation: floating 3s ease-in-out infinite;
}